body
{
	background-color: #000000;
}

.block
{
	display: block;
	width: 100%;
	border: none;
	background-color: #4CAF50;
	color: white;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.block:hover
{
	background-color: #ddd;
	color: black;
}

h1.main
{
	background-color: #306080;
	width: 360px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 24px;
	white-space: nowrap;
}

h2.main
{
	background-color: #306080;
	width: 360px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 24px;
	white-space: nowrap;
}

h1.gr
{
	background-color: #000000;
	margin: 0 auto;
	color: goldenrod;
	font-size: 19px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}

h2.gr
{
	background-color: #000000;
	margin: 0 auto;
	color: goldenrod;
	font-size: 19px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-weight: bold;
	white-space: nowrap;
}

div.A
{
	background-color: #306080;
	width: 360px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

div.B
{
	background-color: #306080;
	width: 360px;
	margin: 0 auto;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 900;
}

div.C
{
	background-color: #000000;
	color: #3F3F3F;
	width: 360px;
	margin: 0 auto;
	vertical-align: middle;
	text-align: left;
	font-family: sans-serif;
	border-right: 24px solid #1F1F1F;
	/*box-shadow: inset 0px 0px 0px 10px red;*/
	box-sizing: border-box;
	text-indent: 0px;
	font-size: 24px;
	font-weight: 900;
}

div.D
{
	background-color: #306080;
	width: 360px;
	font-family: sans-serif;
	margin: 0 auto;
	text-align: left;
}

div.E
{
	background-color: #000000;
	width: 720px;
	margin: 0 auto;
	text-align: center;
}

div.F
{
	background-color: #000000;
	margin: 0 auto;
	text-align: center;
}

div.cent
{
	vertical-align: middle;
	text-align: center;
}

div.crew
{
	display: flex;
	justify-content: space-between;
}

div.sc
{
	background-color: goldenrod;
	width: 360px;
	height: 28px;
	margin: 0 auto;
	color: #000000;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	text-align: center;
	vertical-align: bottom;
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 900;
}

div.hdl
{
	background-color: #000000;
	width: 360px;
	margin: 0 auto;
	border-right: 24px solid #1F1F1F;
	border-left: 24px solid #1F1F1F;
	border-bottom: 12px solid #1F1F1F;
	padding-bottom: 4px;
	/*box-shadow: inset 0px 0px 0px 10px red;*/
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
}

div.spaceB
{
	background-color: #306080;
	width: 360px;
	height: 8px;
	margin: 0 auto;
}

div.spaceD
{
	background-color: #000000;
	height: 8px;
}

div.marg
{
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 1.3em;
	margin: 10px;
}

span.B
{
	width: 140px;
	display: inline-block;
}

span.caption
{
	font-family: sans-serif;
	font-size: 1.3em;
	font-weight: 900;
	color: #FFFFFF;
}

video.btn
{
	width: 144px;
	height: 64px;
}

video.dig
{
	width: 64px;
	height: 64px;
	vertical-align: middle;
}

video.blink
{
	width: 224px;
	height: 32px;
	vertical-align: middle;
}

video.clam
{
	width: 128px;
	height: 112px;
	vertical-align: middle;
}

div.WeekdaysSched
{
	background-color: #205070;
	width: 100vh;
	margin: 0 auto;
	text-align: left;
	font-family: monospace;
	font-size: 10px;
	vertical-align: middle;
}

div.SaturdaysSched
{
	background-color: #156545;
	width: 100vh;
	margin: 0 auto;
	text-align: left;
	font-family: monospace;
	font-size: 10px;
	vertical-align: middle;
}

div.SundaysSched
{
	background-color: #603080;
	width: 100vh;
	margin: 0 auto;
	text-align: left;
	font-family: monospace;
	font-size: 10px;
	vertical-align: middle;
}
